<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/employee/employee.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/css/employee/menubar.css" />
  <!-- <script src="/js/employee/employee.js"></script> -->
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" />
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <title>Task Management System</title>
  <style>
    .card {
      width: calc(80%/4);
    }
  </style>
</head>

<body>
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/employeemenubar') %>

        <div class="rightbar">
          <%- include('../partials/employeenavigation') %>
            <div class="bodypage">
              <div class="row1">
                <div class="cards d-flex my-5">
                  <div class="card text-center mx-4">
                    <div class="card-body my-3 text-dark">
                      <p class="card-text h1">
                        <%=taskStatusCounts.Assigned%>
                      </p>
                      <h5 class="card-title">Assigned</h5>
                    </div>
                  </div>
                  <div class="card text-center mx-4 ">
                    <div class="card-body my-3 text-dark">
                      <p class="card-text h1">
                        <%=taskStatusCounts.ToDo%>
                      </p>
                      <h5 class="card-title">Todo</h5>
                    </div>
                  </div>
                  <div class="card text-center mx-4 ">
                    <div class="card-body my-3 text-dark">
                      <p class="card-text h1">
                        <%=taskStatusCounts.InProgress%>
                      </p>
                      <h5 class="card-title">Inprogress</h5>
                    </div>
                  </div>
                  <div class="card text-center mx-4 ">
                    <div class="card-body my-3 text-dark">
                      <p class="card-text h1">
                        <%=taskStatusCounts.Completed%>
                      </p>
                      <h5 class="card-title">Completed</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row1">
                <div class="cards mx-4">
                  <div class="card-header">
                    <h3 class="card-title my-4">Upcoming deadlines</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead id="deadlineheading"></thead>
                      <tbody id="deadlinebody"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row1">
                <div class="cards d-flex my-5">
                  <div class="card mx-4" style="width: calc(80%/2);">
                    <div class="position-relative">
                      <div class="card-header">
                        <h5 class="card-title">Recent Activity</h5>
                      </div>
                      <div class="position-absolute top-0 end-0 mx-4 my-2 h4 rounded text-white"
                        style="background-color: #0A1828;">
                        <i class='bx bx-refresh p-1' onclick="refreshRecentActivity()" style="cursor: pointer;"></i>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody style="display: absolute" id="recentactivitybody"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card mx-5" style="width: calc(80%/2);">
                    <div class="card-header">
                      <h5 class="card-title">In Progress</h5>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead id="inprogressheading"></thead>
                        <tbody style="display: absolute" id="inprogressbody"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%- include('../employeemodule/profilemodal.ejs') %>
        </div>

    </div>
  </div>
  </div>
  <script src="/js/employee/employeeprofile.js"></script>
  <script src="/js/employee/employeedashboard.js"></script>
  <script src="/js/employee/validation.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <script src="/js/employee/employeenavigation.js"></script>
  <script src="/boxicon/dist/boxicons.js"></script>
</body>

</html>